<div class="item">

    {{ $.Scratch.Set "link" .RelPermalink }}
    {{ if .Params.projectlink }} {{ $.Scratch.Set "link" .Params.projectlink }} {{ end }}

    {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") | $.Scratch.Set "date" }}
    {{ with .Description }} {{ $.Scratch.Set "subtitle" . }} {{ end }}

    <h4><a href="{{ .Scratch.Get "link" }}">{{ .Title }}</a></h4>
    {{ if .Params.author }}<h5><a href="{{ "" | absURL }}/author/{{ .Params.author | urlize }}">{{ .Params.author }}</a></h5>{{ end }}
    <h5>{{ $.Scratch.Get "subtitle" }}</h5>
    {{ if eq .Params.type "post" }}<h5>{{ $.Scratch.Get "date" }}</h5>{{ end }}
    {{ range .Params.tags }}<a href="{{ "" | absURL }}/tags/{{ . | urlize }}"><kbd class="item-tag">{{ . }}</kbd></a>{{ end }}

</div>
